body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: whitesmoke;
  border-radius: 7px;
  border: 20px;
  border-color: yellow;
}

.outset {
  border-style: outset;
}

main{
  text-align: center;
  color: blueviolet;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color:black;
  background-color:yellow;
}

.besties{
  border: 2px dashed white;
  text-align: left;
  display: inline-block;
}