body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: whitesmoke;
  border-radius: 7px;
  border: 20px;
  border-color: yellow;
}

.outset {
  border-style: outset;
}

main{
  text-align: center;
  color: blueviolet;
}

footer{
  text-align: center;
  color:black;
}

.bottom {
  padding: 3px;
  margin-top: 300px;
  background-color:yellow;
}